Series

In [1]:
import numpy as np
import pandas as pd

In [6]:
my_series=[5,7,1,7,6]
my_var=pd.Series(my_series)
print(my_var)

0    5
1    7
2    1
3    7
4    6
dtype: int64

In [5]:
#Print specific value
print(my_var[1])

7

In [11]:
# Labels using the index arguements
my_index=['A','B','C','D','E']
my_var2=pd.Series(my_series,my_index)
print(my_var2)

print(my_var2['B'])

A    5
B    7
C    1
D    7
E    6
dtype: int64
7

In [14]:
# Key Value Dictionary

cars={'Tesla':12,'Mercedes':42,'BMW':3}
my_var3=pd.Series(cars)
print(my_var3)

print(my_var3['Tesla'])

Tesla       12
Mercedes    42
BMW          3
dtype: int64
12