In [6]:
import pandas as pd
import numpy as np

#Importng a file
my_df=pd.read_csv("industry_sic - 2.csv")
print(my_df)

   SIC Code Unique ID                                        Description
0      1110       T01  Growing of cereals (except rice), leguminous c...
1      1120       T02                                    Growing of rice
2      1130       T03  Growing of vegetables and melons, roots and tu...
3      1140       T04                              Growing of sugar cane

In [ ]:

# Add column from list
#Warehouse_Number=['AA','AB','AC','AD']
#my_df["WarehouseNumber"]=Warehouse_Number
#print(my_df)

# Note: Above method is only preferrable, when we are having small datasets.

   SIC Code Unique ID                                        Description  \
0      1110       T01  Growing of cereals (except rice), leguminous c...
1      1120       T02                                    Growing of rice
2      1130       T03  Growing of vegetables and melons, roots and tu...
3      1140       T04                              Growing of sugar cane

  WarehouseNumber
0              AA
1              AB
2              AC
3              AD

In [12]:
# Add default values
my_df["ISOpen"]=[True]*len(my_df)
print(my_df)

   SIC Code Unique ID                                        Description  \
0      1110       T01  Growing of cereals (except rice), leguminous c...
1      1120       T02                                    Growing of rice
2      1130       T03  Growing of vegetables and melons, roots and tu...
3      1140       T04                              Growing of sugar cane

  WarehouseNumber  ISOpen
0              AA    True
1              AB    True
2              AC    True
3              AD    True

In [13]:
# Add NaN value
my_df["Show_Warehouse"]=[np.nan]*len(my_df)
print(my_df)

   SIC Code Unique ID                                        Description  \
0      1110       T01  Growing of cereals (except rice), leguminous c...
1      1120       T02                                    Growing of rice
2      1130       T03  Growing of vegetables and melons, roots and tu...
3      1140       T04                              Growing of sugar cane

  WarehouseNumber  ISOpen  Show_Warehouse
0              AA    True             NaN
1              AB    True             NaN
2              AC    True             NaN
3              AD    True             NaN

In [14]:
# Add column with .insert() - Allows Position
my_df.insert(1,"Location",["Madhya Pradesh"]*len(my_df))
print(my_df)

   SIC Code        Location Unique ID  \
0      1110  Madhya Pradesh       T01
1      1120  Madhya Pradesh       T02
2      1130  Madhya Pradesh       T03
3      1140  Madhya Pradesh       T04

                                         Description WarehouseNumber  ISOpen  \
0  Growing of cereals (except rice), leguminous c...              AA    True
1                                    Growing of rice              AB    True
2  Growing of vegetables and melons, roots and tu...              AC    True
3                              Growing of sugar cane              AD    True

   Show_Warehouse
0             NaN
1             NaN
2             NaN
3             NaN

In [15]:
# Add column with .assign() - creates new df
my_df2=my_df.assign(City=["sagar"]*len(my_df))
print(my_df2)

   SIC Code        Location Unique ID  \
0      1110  Madhya Pradesh       T01
1      1120  Madhya Pradesh       T02
2      1130  Madhya Pradesh       T03
3      1140  Madhya Pradesh       T04

                                         Description WarehouseNumber  ISOpen  \
0  Growing of cereals (except rice), leguminous c...              AA    True
1                                    Growing of rice              AB    True
2  Growing of vegetables and melons, roots and tu...              AC    True
3                              Growing of sugar cane              AD    True

   Show_Warehouse   City
0             NaN  sagar
1             NaN  sagar
2             NaN  sagar
3             NaN  sagar